python-dotenv
fastapi
uvicorn[standard]
pydantic
motor
celery
redis
pytest
pytest-cov
black
isort
flake8
loguru
httpx
email-validator
pytest-asyncio
asgi-lifespan
requests
python-telegram-bot[job-queue]
pytz
pymongo
tenacity
passlib[bcrypt]
python-jose[cryptography]
apscheduler